<section class="container">
  <div class="form-container">
    <div class="title">
      <h2>Welcome Back</h2>
      <p>Log into your account to continue</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="userLogin()" class="login-form">
      @if(successMessage){
      <div class="success-message">
        {{successMessage}}
      </div>
    }
      <div class="login-inputs-container">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Email"
            formControlName="email"
            class="email"
            [class.input-invalid]="formControls['email'].invalid && (formControls['email'].touched || formControls['email'].dirty)"
          />
        </div>

        <div>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Password"
            formControlName="password"
            class="password"
            [class.input-invalid]="formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty)"
          />
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="loginForm.invalid || isLoading()">Login</button>
      </div>

      <a routerLink="/auth/signup" class="signup-link"
        >Don&#39;t have an account?</a
      >
    </form>
  </div>
</section>
