<main>
  <section class="properties-container">
    <div class="listing">
      <img
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="House"
        width="300"
        height="200"
        class="listing-img"
      />
      <div class="listing-info">
        <div class="price">{{ 93999 | currency }}</div>
        <div class="details">5,288 sqft lot - Lot / Land for sale</div>
        <div class="address">3716 Farmer St, Houston, TX 77020</div>
        <div class="agent">SKW REALTY</div>
      </div>
    </div>
    <div class="listing">
      <img
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="House"
        width="300"
        height="200"
        class="listing-img"
      />
      <div class="listing-info">
        <div class="price">{{ 93999 | currency }}</div>
        <div class="details">5,288 sqft lot - Lot / Land for sale</div>
        <div class="address">3716 Farmer St, Houston, TX 77020</div>
        <div class="agent">SKW REALTY</div>
      </div>
    </div>
    <div class="listing">
      <img
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="House"
        width="300"
        height="200"
        class="listing-img"
      />
      <div class="listing-info">
        <div class="price">{{ 93999 | currency }}</div>
        <div class="details">5,288 sqft lot - Lot / Land for sale</div>
        <div class="address">3716 Farmer St, Houston, TX 77020</div>
        <div class="agent">SKW REALTY</div>
      </div>
    </div>
    <div class="listing">
      <img
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="House"
        width="300"
        height="200"
        class="listing-img"
      />
      <div class="listing-info">
        <div class="price">{{ 93999 | currency }}</div>
        <div class="details">5,288 sqft lot - Lot / Land for sale</div>
        <div class="address">3716 Farmer St, Houston, TX 77020</div>
        <div class="agent">SKW REALTY</div>
      </div>
    </div>
  </section>
</main>
