<main>
  <section class="properties-container">
    @for(property of properties$ |async; track property.zpid ){
    <div class="listing">
      <img
        [src]="property.media.propertyPhotoLinks.highResolutionLink"
        alt="House"
        width="300"
        height="200"
        class="listing-img"
      />
      <div class="listing-info">
        <div class="price">{{ property.price.value| currency }}</div>
        <div class="details">{{property.lotSizeWithUnit.lotSize | number}} sqft</div>
        <div class="address">
          {{ property.address | addressPipe }}
        </div>
        <div class="agent">
          {{ property.propertyDisplayRules.mls.brokerName }}
        </div>
      </div>
    </div>
    }
  </section>
</main>
