<section class="container">
  <div class="form-container">
    <div class="title">
      <h2>Welcome</h2>
      <p>Create an account to join</p>
    </div>
    <form
      [formGroup]="signupForm"
      (ngSubmit)="userSignup()"
      class="signup-form"
    >
    @if(successMessage){
      <div class="success-message">
        {{successMessage}}
      </div>
    }
    @if(errorMessage){
      <div class="error-message">
        {{errorMessage}}
      </div>
    }
      <div class="signup-inputs-container">
        <div>
          <label for="first_name">First Name</label>
          <input
            type="text"
            name="first_name"
            id="first_name"
            placeholder="First Name"
            formControlName="firstName"
            class="first_name"
            [class.input-invalid]="formControls['firstName'].invalid && (formControls['firstName'].touched || formControls['firstName'].dirty)"
          />
        </div>

        <div>
          <label for="last_name">Last Name</label>
          <input
            type="text"
            name="last_name"
            id="last_name"
            placeholder="Last Name"
            formControlName="lastName"
            [class.input-invalid]="formControls['lastName'].invalid && (formControls['lastName'].touched || formControls['lastName'].dirty)"
          />
        </div>

        <div>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            formControlName="email"
            [class.input-invalid]="formControls['email'].invalid && (formControls['email'].touched || formControls['email'].dirty)"
          />
        </div>

        <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            formControlName="password"
            class="password"
            [class.input-invalid]="formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty)"
          />
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      </div>

      <a routerLink="/auth/login" class="login-link"
        >Already have an account?</a
      >
    </form>
  </div>
</section>
